.header {
  display: flex;
  padding-left: 5%;
  color: #4caf50;
  height: 8vh;
}
.links {
  display: flex;
  width: 70%;
  margin-left: 43%;
}
.header h3 {
  margin-top: 10px;
  color: grey;
}
.links h4 {
  padding-left: 40px;
  padding-top: 15px;
  color: black;
  transition: 0.5s;
}
.links h4 a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.links h4 a:hover {
  transform: translateY(10px);
  color: #4caf50;
  text-shadow: 0 0 1px #4caf50;
}
.links h4:hover {
  transform: translateY(-5px);
  color: #4caf50;
  text-shadow: 0 0 1px #4caf50;
}
.header h3:hover {
  text-shadow: 0 0 1px white;
  cursor: pointer;
}
.wrapper {
  display: flex;
  height: 92vh;
}
#pizzaa {
  width: 500px;
  margin-top: 100px;
  margin-left: 50px;
}
.pizzapic {
  height: 100%;
  width: 50%;
}
.texts {
  width: 50%;
  height: 100%;
  padding-left: 150px;
}
.texts h1 {
  margin-top: 200px;
  color: #4caf50;
  font-weight: bold;
  font-size: 60px;
}
.texts p {
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}
.texts button {
  margin-top: 40px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}
.aboutus {
  height: 100vh;
  padding-top: 10%;
  padding-left: 100px;
  display: flex;
}
.aboutimage {
  height: 500px;
  border-radius: 20px;
}
.aboutUsPic {
  width: 50%;
}

.aboutUsText {
  padding-top: 30px;
}
.aboutUsText h3 {
  color: #4caf50;
  font-weight: bold;
  padding-bottom: 30px;
}
.aboutUsText h1 {
  line-height: 70px;
  font-size: 60px;
  padding-bottom: 20px;
}
.aboutUsText p {
  font-size: 23px;
  color: rgb(87, 87, 87);
}
.aboutUsText button {
  margin-top: 30px;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px;
}

.services {
  height: 100vh;
  padding-top: 5%;
  text-align: center;
}
.services h4 {
  color: #4caf50;
  padding-bottom: 20px;
}

.card {
  width: 33.33%;
  border: 1px solid white;
  padding: 20px;
}
.cardpic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  margin-bottom: 50px;
  margin-top: 50px;
}
.card p {
  font-size: 20px;
  padding: 5px;
}
.cards {
  display: flex;
}
.menu {
  height: 100vh;
  background-color: aliceblue;

  padding-top: 100px;
}
.menu h4 {
  color: #4caf50;
  text-align: center;
}
.menucard {
  width: 25%;
  background-color: white;
  border-radius: 20px;
  padding-top: 20px;
}
.menucard h4 {
  text-align: left;
  margin-left: 15px;
  color: rgb(91, 92, 94);
}
.menucard h2 {
  margin-left: 15px;
}
.menucard h3 {
  margin-left: 15px;
}
.menuimg {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
}
.menu h1 {
  text-align: center;
}

.shopcart {
  width: 50px;
  height: 50px;
  margin-left: 80px;
}
