.header {
  display: flex;
  padding-left: 5%;
  color: green;
  height: 8vh;
}
.links {
  display: flex;
  width: 70%;
  margin-left: 43%;
}
.header h3 {
  margin-top: 10px;
  color: grey;
}
.links h4 {
  padding-left: 40px;
  padding-top: 15px;
  color: black;
  transition: 0.5s;
}
.links h4 a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
}
.links h4 a:hover {
  transform: translateY(10px);
  color: green;
  text-shadow: 0 0 1px green;
}
.links h4:hover {
  transform: translateY(-5px);
  color: green;
  text-shadow: 0 0 1px green;
}
.header h3:hover {
  text-shadow: 0 0 1px white;
  cursor: pointer;
}
.wrapper {
  display: flex;
  height: 92vh;
}
#pizzaa {
  width: 500px;
  margin-top: 100px;
  margin-left: 50px;
}
.pizzapic {
  height: 100%;
  width: 50%;
}
.texts {
  width: 50%;
  height: 100%;
  padding-left: 150px;
}
.texts h1 {
  margin-top: 200px;
  color: green;
  font-weight: bold;
  font-size: 60px;
}
.texts p {
  line-height: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 40px;
  font-weight: bold;
}
.texts button {
  margin-top: 40px;
  color: white;
  background-color: green;
  height: 50px;
  width: 130px;
  border-radius: 10px;
  border: 1px solid green;
}
.aboutus {
  height: 100vh;
  padding-top: 10%;
  padding-left: 100px;
  display: flex;
}
.aboutimage {
  height: 500px;
  border-radius: 20px;
}
.aboutUsPic {
  width: 50%;
}
